.items {
  list-style: none;
  padding: 0;
}
.item {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.deleteBtn {
  background: transparent;
  border: 0;
  box-shadow: 0 0 0;
  font-weight: bold;
  color: #c5c5c5;
  transition: .3s;
  cursor: pointer;
  margin: 0 10px;
}

.deleteBtn:hover {
  color: #000;
  transition: .3s;
}